.loadingContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.loading {
  --size: 2rem;
  --thickness: 4px;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  border: var(--thickness) solid hsl(var(--grey-550));
  border-top: var(--thickness) solid hsl(var(--off-white));

  animation: loadAnim 1.5s linear infinite;
}

@keyframes loadAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
