.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.25rem;
}

.pgTitle {
  font-size: clamp(2.25rem, 7.5vw, 3rem);
  font-weight: 500;
}

.projContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.projCard {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--off-white));
  box-shadow: 2px 2px 5px 1px hsl(var(--grey-300) / 50%);
  transition: transform 250ms;
}

.projCard > h2 {
  font-size: clamp(1rem, 3vw, 1.25rem);
}

.projCard > p {
  font-size: clamp(0.85rem, 3vw, 1rem);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.projCard:hover {
  cursor: pointer;
  transform: scale(0.975);
}
